doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover")
        title Timeline
    body   
        main#app
            section.container
                article.timeline.flex.flex-wrap.justify-center
                    h1.timeline-head Timeline
                    div.timeline-column.flex.direction-column.left
                        div.timeline-event.timeline-event-item.transaction
                            div.timeline-event-item-head.flex.align-center.justify-space-between
                                p Финансовая транзакция
                                i.fa.fa-times(aria-hidden="true", title="Удалить")
                            div.timeline-event-item-body
                                span.summ Сумма: 200
                                span.currency Валюта: Р.
                                span.author От кого: OOO "Трансгаз"
                            div.timeline-event-item-footer.positive
                                i.fa.fa-plus-square(aria-hidden="true")
                            div.date-content
                                div.date-content-wrapper
                                    span.point 
                                    div.line
                                    p.date 7.12.2017г.
                        div.timeline-event.timeline-event-item.transaction
                            div.timeline-event-item-head.flex.align-center.justify-space-between
                                p Финансовая транзакция
                                i.fa.fa-times(aria-hidden="true", title="Удалить")
                            div.timeline-event-item-body
                                span.summ Сумма: 200
                                span.currency Валюта: Р.
                                span.author От кого: OOO "Трансгаз"
                            div.timeline-event-item-footer.negative
                                i.fa.fa-plus-square(aria-hidden="true")
                            div.date-content
                                div.date-content-wrapper
                                    span.point 
                                    div.line
                                    p.date 7.12.2017г.   
                    div.timeline-line
                    div.timeline-column.flex.direction-column.right
                        div.timeline-event.timeline-event-item.transaction
                            div.timeline-event-item-head.flex.align-center.justify-space-between
                                p Финансовая транзакция
                                i.fa.fa-times(aria-hidden="true", title="Удалить")
                            div.timeline-event-item-body.flex.flex-wrap
                                span.summ Сумма: 200
                                span.currency Валюта: Р.
                                span.author От кого: OOO "Трансгаз"
                            p.timeline-event-item-footer.negative
                                i.fa.fa-minus-square(aria-hidden="true")
                            div.date-content
                                div.date-content-wrapper
                                    span.point 
                                    div.line
                                    p.date 7.12.2017г.  