doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover")
        title Timeline
    body   
        main#app
            section.container
                article.timeline.flex.flex-wrap.justify-center
                    h1.timeline-head Timeline
                    nav.timeline-navbar
                        button.btn.btn-primary#create-event(type="button") Создать событие
                        div.sorts 
                            p.sort-title Cортировка: 
                            p.sort-item.active.desc#sort-date По дате <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            p.sort-item#sort-type По типу <i class="fa fa-sort" aria-hidden="true"></i>
                    div.timeline-column.flex.direction-column.left  
                    div.timeline-line
                    div.timeline-column.flex.direction-column.right
        div.modal 
            div.modal-wrapper
                div.modal-window     
                    div.modal-head.flex.align-center.justify-space-between
                        h2.modal-title
                        span.close
                            i.fa.fa-close(title="Закрыть") 
                    div.modal-body
                    div.modal-footer.flex.justify-end