doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover")
        title Timeline
    body   
        main#app
            section.container
                article.timeline.flex.flex-wrap.justify-center
                    h1.timeline-head Timeline
                    div.timeline-column.flex.direction-column.left  
                    div.timeline-line
                    div.timeline-column.flex.direction-column.right